body {
  padding: 0
  margin: 0
}

#mainGrid {
  display: grid
  margin: 20px
}

.tile {
  border: 1px solid black
  width: 100%
  height: 100%
  display: flex;
  justify-content: center;
  align-items: center;

  &.enemy {
    background-color: red;
  }

  &.health {
    background-color: green;
  }

  &.wall {
    background-color: black;
  }

  &.unexplored {
    background-color: gray;
  }

  &.player {
    background-color: blue;
  }
}
